{% extends 'main/base.html' %}

{% block title %}
UVM's ASA Student Chapter
{% endblock %}

{% block content %}

<!--ASA Resources-->
<h1>UVM's ASA Student Chapter</h1>

<p>We are UVM's official American Statistical Association (ASA) chapter. Here are some ASA-related links:</p>
<ul>
    <li><a href="https://www.amstat.org/">ASA Homepage</a></li>
    <li><a href="https://www.amstat.org/ASA/Membership/Student-Chapters.aspx">Information on ASA Student Chapters</a></li>
    <li><a href="https://thisisstatistics.org/">This Is Statistics: Info on the many interesting careers in statistics!</a></li>
</ul>


{% endblock %}
