{% load static %}


<!-- for links -->
{% load tags %}

{% url 'main:index_url_name' as index %}
{% url 'main:software_url_name' as software %}
{% url 'blog_url_name' as blog %}
{% url 'main:links_url_name' as links %}
{% url 'main:people_url_name' as people %}
{% url 'main:asa_url_name' as asa %}
{% url 'main:career_resources_url_name' as career_resources %}
{% url 'main:contact_url_name' as contact %}



<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

		<link rel="stylesheet"
			  href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cosmo/bootstrap.min.css">

		<link rel="shortcut icon" type="image/png" href="{% static 'main/images/square-black-small.png' %}"/>


		<!-- custom css -->
		<link rel="stylesheet" type="text/css" href="{% static 'main/css/custom.css' %}">
		<!-- <title>UVM Stats and DS Club</title> -->
		<title>{% block title %}{% endblock %}</title>

		<!-- bootstrap only needs small jquery, but fullcalendar (index.html) needs full version -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



		{% block head %}{% endblock %}
	</head>
	<body style="background-color: #333333;">

		<header class="navbar fixed-top navbar-light" id="header" style="background-color: #8FAF80;">

			<!-- NOTE FOR FUTURE DEVS: classes here refer to bootstrap classes -->

			<!-- This is the tab-style desktop navbar - hidden on screens smaller than large -->
			<div class="d-none d-lg-block">
				<nav class="navbar navbar-expand-lg" style="background-color: #8FAF80;">

					<ul class="navbar-nav navbar-collapse">

						<li class="nav-item" >
							<a class="navbar-brand d-flex flex-row align-items-center" id="header" href="{{ index }}">
								<img class="d-flex pr-2" src="{% static 'main/images/square-medium.png' %}" width="50">
								<div class="d-flex">UVM Stats and DS Club</div>
							</a>
						</li>

						<li class="nav-item">
							<a class="{% active request blog %} nav-link" id="match-nav-bg" href="{{ blog }}">Blog</a>
						</li>

						<li class="nav-item">
							<a class="{% active request people %} nav-link" id="match-nav-bg" href="{{ people }}">People</a>
						</li>

						<li class="nav-item">
							<a class="{% active request asa %} nav-link" id="match-nav-bg" href="{{ asa }}">ASA Info</a>
						</li>

						<li class="nav-item">
							<a class="{% active request links %} nav-link" id="match-nav-bg" href="{{career_resources}}">Career Resources</a>
						</li>

						<li class="nav-item">
							<a class="{% active request links %} nav-link" id="match-nav-bg" href="{{ links }}">Fun Links</a>
						</li>

						<li class="nav-item">
							<a class="{% active request software %} nav-link" id="match-nav-bg" href="{{ software }}">Statistical Software</a>
						</li>

						<li class="nav-item">
							<a class="{% active request software %} nav-link" id="match-nav-bg" href="{{contact}}">Contact</a>
						</li>

					</ul>
				</nav>
			</div>


			<!-- This is the collpasable button-triggered mobile navbar - hidden on screens that are large or wider -->
			<div class="d-lg-none d-xl-none">
				<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarCollapse" aria-controls="navbarCollapse"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!--  class="d-flex flex-column justify-content-center navbar-expand-lg navbar" -->
				<nav id="navbarCollapse" class="collapse" style="background-color: #8FAF80;">

					<!--Removed navbar-collapse, which de-centers the text. Nice! -->
					<ul class="navbar-nav">

						<li class="nav-item">
							<a class="navbar-brand d-flex flex-row align-items-center" id="header" href="{{ index }}">
								<img class="d-flex pr-2" src="{% static 'main/images/square-medium.png' %}" width="50">
								<div class="d-flex">UVM Stats and DS Club</div>
							</a>
						</li>

						<li class="nav-item">
							<a class="{% active request blog %} nav-link" id="match-nav-bg" href="{{ blog }}">Blog</a>
						</li>

						<li class="nav-item">
							<a class="{% active request people %} nav-link" id="match-nav-bg" href="{{ people }}">People</a>
						</li>

						<li class="nav-item">
							<a class="{% active request asa %} nav-link" id="match-nav-bg" href="{{ asa }}">ASA Info</a>
						</li>

						<li class="nav-item">
							<a class="{% active request links %} nav-link" id="match-nav-bg" href="{{career_resources}}">Career Resources</a>
						</li>

						<li class="nav-item">
							<a class="{% active request links %} nav-link" id="match-nav-bg" href="{{ links }}">Fun Links</a>
						</li>

						<li class="nav-item">
							<a class="{% active request software %} nav-link" id="match-nav-bg" href="{{ software }}">Statistical Software</a>
						</li>

						<li class="nav-item">
							<a class="{% active request software %} nav-link" id="match-nav-bg" href="{{contact}}">Contact</a>
						</li>

					</ul>
				</nav>
			</div>

		</header>

		<main class="container" id="main-content">
			{% block content %}
			{% endblock %}
		</main>

		<footer class="footer container-fluid">
			<p>Designed by Nicholas Hanoian & Isaac Lee</p>
		</footer>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->



		<script>
		 $(document).ready(function() {
			 // any links with a fully qualified address open in a new tab
			 $( 'a[href^="http://"]' ).attr( 'target','_blank' );
			 $( 'a[href^="https://"]' ).attr( 'target','_blank' );

		 });
		</script>

		{% block script %}
		{% endblock %}
	</body>
</html>
