{% extends 'main/base.html' %}
{% load static %}


{% block title %}
Career Resources
{% endblock %}

{% block content %}
<!--Career Resources-->
<h1>Career Resources</h1>

<p>Here's some links to other pages that Statistics and Data Science majors might find useful.</p>

<h2>UVM and CEMS Career Resources</h2>
<ul>
    <li><a href="https://www.uvm.edu/career">UVM Career Center Homepage</a></li>
    <li><a href="https://www.uvm.edu/cems/career_readiness_program">CEMS Career Readiness Program</a></li>
    <li><a href="https://www.uvm.edu/cems/job_internship_resources">CEMS Job/Internship Resources</a></li>
    <li><a href="https://www.uvm.edu/cems/internship_testimonials">CEMS Internship Testimonials</a></li>
</ul>


<h2>National Science Foundation REUs</h2>
<p>The <a href="https://www.nsf.gov/">National Science Foundation</a> (NSF) funds a large number of research opportunities for undergraduate students through its Research Experiences for Undergraduates (REU) Sites program. An REU Site consists of a group of ten or so undergraduates who work in the research programs of the host institution. Each student is associated with a specific research project, where he/she works closely with the faculty and other researchers. Students are granted stipends and, in many cases, assistance with housing and travel. Undergraduate students supported with NSF funds must be citizens or permanent residents of the United States or its possessions. An REU Site may be at either a US or foreign location.</p>
<p>These are 10-week summer programs where you receive a stipend (typically $5,000) to work on research at another school. Housing and meals are typically covered as well. Applications are due between January and March, depending on the program. You can search the list of programs <a href="https://www.nsf.gov/crssprgm/reu/reu_search.jsp">here</a>.</p>

<h2>Other Summer Programs</h2>
<ul>
    <li><a href="https://www.nhlbi.nih.gov/node-general/summer-institute-biostatistics">NHLBI Summer Institute in Biostatistics Program</a></li>
    <li><a href="http://drsherrirose.org/resources/">Dr. Sherri Rose, Associate Professor Stanford University</a></li>
    <li><a href="https://biostat.centers.vt.edu/cubeprogram.html">Summer 2022 CUBE Program</a></li>
    <li><a href="https://calendar.fau.edu/event/floridas_summer_institute_biostatistics_and_data_science_program#.YjtoAU3MK70">Florida's Summer Institute: Biostatistics and Data Science Program</a></li>
    <li><a href="https://docs.google.com/spreadsheets/d/1-tsTNBkAmeTJ9_vNQby7P1pVPPClRywQQZdzD4-xyQ0/edit#gid=0">Summer Programs Spreadsheet</a></li>
    <li><a href="https://www.stat.uci.edu/isi-buds/">Irvine Summer Institute in Biostatistics and Undergraduate Data Science</a></li>
    <!-- <li><a href="https://www.jefferson.edu/university/jmc/departments/..." >www.jefferson.edu/university/jmc/departments/...</a></li> -->
    <!-- <li><a href="http://www.amalthea-reu.org/">http://www.amalthea-reu.org/</a></li> -->
</ul>



<h2>Job Database Links</h2>

<ul>
    <li><a href="http://www.stat.uchicago.edu/students/career/jobdatabases.shtml">University of Chicago Job Databases</a></li>
</ul>
{% endblock %}
