{% extends 'main/base.html' %}
{% load static %}


{% block title %}
Contact
{% endblock %}


{% block content %}
<h1>Contact</h1>

<div class="row">

    <!-- Email sign-up form and button in left col-->

    <div class="col-7 ml-3">
        <h3 class="text-center">Email Sign-Up</h3>

        <form id="emailForm">
            <div class="form-group py-1">
                <label for="inputEmail">Email</label>
                <div class="col-sm-14">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email address"/>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6 py-2">
                    <label for="inputFirstName">First Name</label>
                    <input type="text" class="form-control" id="inputFirstName" placeholder="First name"/>
                </div>
                <div class="form-group col-md-6 py-2">
                    <label for="inputLastName">Last Name</label>
                    <input type="text" class="form-control" id="inputLastName" placeholder="Last name"/>
                </div>
            </div>

            <small id="privacyMessage" class="form-text text-muted">Don't worry, we'll never share this info with anyone.</small>

            <div class="form-group row">
                <div class="col-sm-10 py-3">
                    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </form>

        <!-- jQuery to send the email -->
        <script>

            $(document).ready(function() {
                $('#submit').click(function() {
                    $('#emailForm').attr('action',
                        'mailto:isaac.lee@uvm.edu?subject=' +
                        $('#inputEmail').val() + '&body=' + $('#inputFirstName').val()); // + $('#inputLastName').val());
                    $('#emailForm').submit();
                });
            });

        </script>
    </div>

    <!-- People on right -->
    <div class="col-4 ml-5">
        <h2>This is a person!</h2>
        <p>Got questions? Contact Katherine Merill at katherine.merill@uvm.edu (This is placeholder text)</p>
    </div>

</div>

</div>

{% endblock %}