{% extends 'main/base.html' %}
{% load static %}


{% block title %}
People
{% endblock %}

{% block content %}
<h1>People</h1>
<p>The leaders of the Statistics and Data Science club</p>

<!-- Joe -->
<h2>Joe Yando <small class="text-muted">| President</small></h2>
<div class="row">
	<div class="col">
		<img class="profile-pic" src="{% static 'main/images/joe-yando.jpg' %}">
	</div>
	<div class="col">
		<p>
			Major: Data Science<br>
			Minor: Economics<br>
			From: Morrisville, VT<br>
			Year: Senior<br>
			Hobbies: Recently interested in Soccer statistics. Hiking. Hanging out.
		</p>
	</div>
</div>

<!-- Kaya -->
<h2>Kaya Daylor <small class="text-muted">| Treasurer</small></h2>
<div class="row">
	<div class="col">
		<img class="profile-pic" src="{% static 'main/images/kaya.jpeg' %}">
	</div>
	<div class="col">
		<p>
			Major: Data Science<br>
			Minor: Women’s Studies<br>
			From: Sharon, MA<br>
			Year: Junior<br>
			Hobbies: rock climbing, hiking, running, growing plants<br>
			Other Clubs: UVM Climbing Team, CS Crew<br>
		</p>
	</div>
</div>

<!-- Katherine -->
<h2>Katherine Merrill, M.S., Senior Lecturer<small class="text-muted">| Advisor</small></h2>
<div class="row">
	<div class="col">
		<img class="profile-pic" src="{% static 'main/images/katherine.jpg' %}">
	</div>
	<div class="col">
	  <p>
		I attended the Ohio State University for my undergraduate
		studies in the early 1980's. At the time, there was a new
		major called Mathematical Sciences, where you studied
		Mathematics, Statistics, and Computer Science -- sound
		familiar? -- Data Science today! I was fortunate enough to
		have taken classes in Statistics with D. Ransom Whitney
		(Mann-Whitney U Test). Here are a couple of links about
		Professor Whitney:
	  </p>
	  <ul>
		<li><a href="https://kb.osu.edu/handle/1811/24142">https://kb.osu.edu/handle/1811/24142</a></li>
		<li><a href="https://www.sciencedirect.com/science/article/pii/B9780126045406500073">https://www.sciencedirect.com/science/article/pii/B9780126045406500073</a></li>
	  </ul>
	  <p>
		I worked at Western Electric in Software Quality Control for 8
		years after receiving my B.S. in Mathematics from OSU. I
		received my M.A. in Statistics from Boston University in 1988.
		I also have my M.S. in Mathematics. Love being in school too
		much?? Yes! Here at UVM, I teach different levels of
		introductory Statistics to many students of varying majors. I
		enjoy sharing my passion of Statistics with you!
	  </p>
	</div>
</div>

<!-- Jacob -->
<h2>Jacob Martin <small class="text-muted">| Advisor</small></h2>
<div class="row">
	<div class="col">
		<img class="profile-pic" src="{% static 'main/images/jacob.png' %}">
	</div>
	<div class="col">
		<p>
			I'm Jacob Martin. I am a Senior Lecturer at UVM, though I'm originally from Georgia,
			and got my PhD from UGA (go Dawgs). I have been at UVM for several years now, where
			I've taught several different introductory courses along with a couple of advanced statistics classes.  I have two cats:  Tucker and Small Cat!
		</p>
	</div>
</div>

<!-- Jenny -->
<!-- <h2>Jenny Eberling <small class="text-muted">| Alumni</small></h2>
<div class="row">
	<div class="col">
		<img class="profile-pic" src="{% static 'main/images/jenny.jpg' %}">
	</div>
	<div class="col">
		<p>
			I am a third year statistics major with a mathematics minor,
			and I love learning about the different ways we use statistics
			in the UVM community. My primary interest is the statistic
			analysis of the UVM Women's Basketball team, both as a
			researcher and as their number one fan! I also regularly
			attend Stat Journal Club and Math Club meetings, so don't be
			afraid to come say hello! When I'm not working on my stat
			homework, you can find me playing the trumpet in the pep-band
			or riding my bike around campus.
		</p>
	</div>
</div>-->
{% endblock %}
