{% extends 'main/base.html' %}

{% block title %}
Statistical Software
{% endblock %}

{% block content %}

	<!--Free stats software for UVM students-->
	<h1>Statistical Software</h1>

	<h2>Open Source Software</h2>

	<p><a href="https://www.r-project.org/">R</a> is an open-source statistical software package that is free to use. The recommended developent environment for R is <a href="https://www.rstudio.com/">RStudio</a>.</p>

	<h2>UVM Licensed Software</h2>
	<p>UVM has licenses for several statistical software packages. You can find links to download the software <a href="https://www.uvm.edu/software/">here</a> (you'll need to log in with your NetID). Here's links to information about the packages that UVM offers:</p>
	<ul>
		<li><a href="https://software.uvm.edu/">UVM Software Portal (Can be used to install SAS, JMP, and more)</a></li>
		<li><a href="https://www.jmp.com/en_us/home.html">JMP</a></li>
		<li><a href="https://www.wolfram.com/mathematica/">Mathematica</a></li>
		<li><a href="https://www.mathworks.com/products/matlab.html">MATLAB</a></li>
		<li><a href="https://www.ibm.com/analytics/spss-statistics-software">SPSS</a></li>
		<li><a href="https://www.stata.com/">Stata</a></li>
		<li><a href="https://www.graphpad.com/scientific-software/prism/">GraphPad Prism</a></li>
		<li><a href="https://www.tableau.com/trial/tableau-software?utm_campaign_id=2017049&utm_campaign=Prospecting-CORE-ALL-ALL-ALL-ALL&utm_medium=Paid+Search&utm_source=Google+Search&utm_language=EN&utm_country=USCA&kw=free%20tableau%20download&adgroup=CTX-Brand-Free-E&adused=ETA&matchtype=e&placement=&gclid=Cj0KCQjw-NaJBhDsARIsAAja6dPlUWIepMuOoHio19ZPcpX5vYqHVDERJMSMMJFlEZmQuLdxasd88HwaAsTlEALw_wcB&gclsrc=aw.ds
">Tableau</a></li>
	</ul>

	<h2>Calculator Emulators</h2>
	<ul>
		<li><a href="https://keisan.casio.com/menu/system/000000000540">Keisan Online Probability Distribution Calculator</a></li>
		<li><a href="https://education.ti.com/en/downloads/trial-software">Texas Instruments Ti-84 Emulator (Trial)</a></li>
		<li><a href="http://wabbitemu.org/">Wabbit Calculator Emulator</a></li>
	</ul>

{% endblock %}
