/* Header */
h1 {
		font-size: 2rem;
		color: #004c39;
}

h2 {
	font-size: 1.5rem;
	margin-top: 20px;
}

h2:after {
	content:'';
	display:block;
	border-bottom: 1.5px solid gray;
	padding-bottom: 5px; /* space before line */
	margin-bottom: 15px; /* space after line */
}

h3 {
	font-size: 1.25rem;
}

h4, h5 {
	font-size: 1rem;
}

.active {
  background-color: #4CAF50;
}

/* Nav bar */
/* For some reason I could only get the BG color to change manually */
#match-nav-bg {
	background-color: #a7d233;
}

/* Nav bar button */
/*button {
  width: 70px;
  height: 30px;
}*/

/* body/main */
body {
	color: #333333;
}

a {
	color: #59934B;
}

a:hover {
	color: #3a6030;
}

#main-content {
	padding-top: 100px;
	padding-bottom: 150px;
	overflow-x: auto;
}


html {
	position: relative;
	min-height: 100vh;
}


footer {
	/* display: inline-flex; */
	color: gray;
	position: absolute;
	bottom:0;
	/* background-color: #007bff; */
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}

footer p {
	width: 100%;
}

.profile-pic {
	width: 300px;
}

header {
	background: #a8d096;
}

/*Horizonal Lines*/
hr {
	height: 1.5px;
	background-color: #ffffff;
}

/*Wrap text around images*/
.img-wrap {
	float: left;
	padding: 0 10px 0 0;
	width: 10%;
}

.fc-today.alert {
	background-color:#c7e4f4;
}

.fc-event {
	background-color: #66ac47 !important;
	border: 1px solid #66ac47 !important;
}

.fc-event-dot {
	background-color: #66ac47 !important;
}
.btn-primary {
	color: #fff;
	background-color: #66ac47;
	border-color: #66ac47;
}

.btn-primary:focus, .btn-primary.focus {
	-webkit-box-shadow: 0 0 0 0.2rem rgba(102, 172, 71, 0.5);
	box-shadow: 0 0 0 0.2rem rgba(102, 172, 71, 0.5);
}

.btn-primary:hover {
	color: #fff;
	background-color: #007155;
	border-color: #004c39;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #007155;
	border-color: #004c39;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 0.2rem rgba(102, 172, 71, 0.5);
	box-shadow: 0 0 0 0.2rem rgba(102, 172, 71, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
	color: #fff;
	background-color: #66ac47;
	border-color: #66ac47;
}

/*CSS for index to contact page button*/
.btn-round {
	background-color: #d36702;
	border-radius: 8px;
	width: 50%;
	font-size: 20px;
}

/* CSS for Photos */

.photo_container {
	margin: 0 auto;
}

.photos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 10px;
	justify-content: flex-start;
	align-items: stretch;
}

.photos img {
	display: block;
	float: left;
	flex: 0 0 auto;
	margin: 5px;
}

@media screen and (min-width: 1024px) {
	.photos img {
	  width: calc(100%/6);
	  height: calc(100%/6);
	}
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
	.photos img {
	  width: calc(100%/4);
	  height: calc(100%/4);
	}
  }
  
  @media screen and (min-width: 481px) and (max-width: 768px) {
	.photos img {
	  width: calc(100%/3);
	  height: calc(100%/3);
	}
  }
  
  @media screen and (min-width: 321px) and (max-width: 480px) {
	.photos img {
	  width: calc(100%/2);
	  height: calc(100%/2);
	}
  }
  
  @media screen  and (max-width: 320px) {
	.photos img {
	  width: 100%;
	  height: 100%;
	}
  }


/* img.photo_post {
    max-width: 300px;
    align-items: center;
	justify-content: center;
} */